# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.whl

# Virtual environment
.venv/
venv/
env/

# Jupyter Notebooks
.ipynb_checkpoints/

# Data files
data/
*.csv
*.xlsx
*.xls
*.json
*.parquet
chroma_db/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
